hostname=${hostname}
dnsdomain=${dns_domain}
primarynameserver=${primarynameserver}
primaryntpserver=${ntpserver}
password=${password}
timezone=${time_zone}
ersapi=${ers_api}
pxGrid=${px_grid}
pxgrid_cloud=${px_grid_cloud}
