hostname=${hostname}
dnsdomain=${dns_domain}
primarynameserver=169.254.169.253
ntpserver=169.254.169.123
username=${username}
password=${password}
timezone=${time_zone}
ersapi=${ers_api}
openapi=${open_api}
pxGrid=${px_grid}
pxgrid_cloud=${px_grid_cloud}
